<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cehs0703.seo.travel">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.DIAL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/mlogo"
        android:label="충남여행111111"
        android:largeHeap="true"
        android:roundIcon="@drawable/mloooooooog"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity android:name=".Activity.TripExp1Activity" />
        <activity android:name=".Activity.TripExp2Activity" />
        <activity android:name=".Activity.TripExp3Activity" />
        <activity android:name=".Activity.DevelopInfo"></activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".splash"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>